label {
  font-weight: bold;
}

window.bar {
  background-color: @theme_bg_color;
  color: @theme_fg_color;
}

window.bar > * {
  margin: 0.5rem 1rem;
}

button {
  color: @theme_fg_color;
  margin: 0 0.125rem;
  min-width: 1rem;
  min-height: 1rem;
  border-radius: 0.5rem;
  background-color: lighter(grey);
  transition-property: min-width, background-color;
  transition-duration: 0.3s;
}

button:hover {
  background-color: grey;
}

/* For a single workspaces, take 150% space and full borders */
button:only-child {
  min-width: 1.5rem;
  border-radius: 2rem;
}

/* With multiple workspaces, give first one full left borders */
button:not(:only-child):first-child {
  border-radius: 2rem 1rem 1rem 2rem;
}

/* With multiple workspaces, give last one full left borders */
button:not(:only-child):last-child {
  border-radius: 1rem 2rem 2rem 1rem;
}

/* Make the active workspace take 150% space */
button:not(:only-child).focused {
  min-width: 1.5rem;
}

.client-title {
  color: @theme_selected_bg_color;
}
